:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
}

.header-main {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.left-nav-container {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}
.nav-links {
  padding: 24px 0;
}
.contact-container {
  display: flex;
  gap: 40px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.studio-text {
  color: var(--navy-blue);
}
.nav-links {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
a:hover {
  color: var(--ocean);
}
a:focus {
  color: var(--ocean);
}
.address-text {
  font-style: normal;
}
.contact-links {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.main-banner {
  background-color: var(--navy-blue);
}
.main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
}
.order-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
}
.order-button:hover {
  background-color: var(--ocean);
}
.order-button:focus {
  background-color: var(--ocean);
}
.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.section-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.team-section {
  background-color: var(--cloud);
}
.section-main-title {
  /* font-family: "Roboto", sans-serif;
  font-weight: 700; */
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.members {
  background-color: var(--white);
}
.footer-slogan {
  /* font-family: "Roboto", sans-serif;
  font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
.footer-bg {
  background-color: var(--navy-blue);
}
.studio-text-white {
  color: var(--cloud);
}
